<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_FancyCalc" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_FancyCalc">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8443/wsHttpCalculator2"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_FancyCalc"
                contract="FancyCalc" name="WSHttpBinding_FancyCalc" />
            <endpoint address="http://localhost:8088/basicCalculator" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_FancyCalc" contract="FancyCalc"
                name="BasicHttpBinding_FancyCalc" />
        </client>
    </system.serviceModel>
</configuration>