<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_FancyCalc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8088/basicHttpUserPassword"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FancyCalc"
                contract="FancyCalc" name="BasicHttpBinding_FancyCalc" />
        </client>
    </system.serviceModel>
</configuration>